[submodule "libs/lessphp"]
  path = libs/lessphp
  url = git://github.com/leafo/lessphp.git
  
[submodule "libs/coffeescript-php"]
  path = libs/coffeescript-php
  url = git://github.com/alxlit/coffeescript-php.git
  
[submodule "libs/cssmin"]
  path = libs/cssmin
  url = git://github.com/brunschgi/cssmin.git
  
[submodule "libs/jsmin-php"]
  path = libs/jsmin-php
  url = git://github.com/eriknyk/jsmin-php.git
  
[submodule "libs/php-markdown"]
  path = libs/php-markdown
  url = git://github.com/michelf/php-markdown.git