* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  font-size: 0;
  line-height: 0;
}
a {
  outline: none;
}
.none {
  display: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
body {
  background-color: #fff;
  color: #000;
  font: normal 100% verdana, arial, tahoma, sans-serif;
}
body div#page {
  margin: 20px auto;
  width: 500px;
}
body div#page div#menu,
body div#page div#menu ul {
  position: relative;
}
body div#page div#menu ul {
  list-style-type: none;
  z-index: 2;
}
body div#page div#menu ul li {
  float: left;
  margin-right: 10px;
}
body div#page div#menu ul li a {
  display: inline-block;
  padding: 10px 15px;
}
body div#page div#menu div.cursor {
  background-color: #999;
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}/* Reset */
* {margin: 0; padding: 0; /*border:1px solid red;*/}
html {direction: rtl;}
html, body {height: 100%;}
img {border: 0; font-size: 0; line-height: 0;}

/* clear all mighty */
.clear:after {clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;}
.clear {display: inline-block;} 
html[xmlns] .clear {display: block;}
* html .clear {height: 1%;}

body {background-color: #f9f9f9; color: #000; font: normal 100% verdana,arial,tahoma,sans-serif; margin: 0 auto; text-align: center;}

/* Style */
h1, h2, h3 {font-weight: normal;}
h1 {color: #cc0047; font-size: 2em;}
h2 {font-size: 1.625em; margin: 0 0 15px;}
h3 {color: #4b800b; font-size: 1.125em; margin: 0 0 10px;}
a {color: #4b800b; text-decoration: none;}
a:hover {text-decoration: underline}
p {font-size: 0.875em; line-height: 1.5em; margin: 0 0 10px;}
acronym {cursor: help;}

/* Top */
.top		{background-color: #f1f1f1; border-bottom: 1px solid #000; width: 100%}
.top > div	{height: 30px; margin: 0 auto; width: 900px;}

	/* Logo */
	.logo			{color: #cc0047; float: right; font: 1.25em arial; line-height: 30px;}
	.logo:hover		{text-decoration: underline;}
	.logo strong	{color: #4b800b; font-weight: normal;}

	/* LastUpdate */
	.last-update {border: 0; color: #4b800b; display: block; float: left; font-size: 0.75em; line-height: 30px;}

/* Page */
.page {margin: 0 auto; text-align: right; width: 900px;}
	
	/* Slogen */
	.slogen {padding: 60px 0; text-align: center;}
			
	/* Navigation */
	.navigation					{border-bottom: 1px solid #4b800b; height: 28px; margin: 0 0 10px;}
	.navigation ul li			{display: inline; float: right; font-size: 1em; margin: 0 5px; padding: 0 0 8px;}
	.navigation ul li a			{color: #000; display: inline-block; height: 20px; line-height: 20px;}
	.navigation ul li a:hover	,
	.navigation li.current a	{color: #4b800b; text-decoration: none;}
	.navigation ul li.current	{background: url('../images/menu-arrow.png') no-repeat 50% 100%;}
	.navigation button			{background-color: transparent; border: 0; cursor: pointer; float: left; font-size: 0.75em; margin: 0 3px 0 0; padding: 5px;}
	.navigation button:hover	,
	.navigation button.current	{color: #fff;}
	.navigation button:hover	{background-color: #cc0047;}
	.navigation button.current	{background-color: #4b800b;}
			
	/* Block */
	.block {margin: 0 0 20px; padding: 0 0 30px; position: relative; width: 100%;}
	
		/* aTop */
		.atop		{border-top: 1px solid #4b800b; bottom: 0; display: block; font-size: 0.75em; left: 0; padding: 5px; position: absolute;}
		.atop:hover {background-color: #cc0047; border-color: #cc0047; color: #fff; text-decoration: none;}
	
		/* Box */
		.box						{float: right; min-height: 300px; margin: 0 0 20px 10px; position: relative; width: 290px;}
		.box p						{padding: 0 0 0 20px;}
		.box p span					{color: #a66c2a; display: block; font-size: 0.6785em;}
		.box p span.bad				{color: #948574; font-size: 0.75em; text-decoration: line-through;}
		.box acronym.tag			{background-color: #4b800b; border:0; color: #fff; font-size: 0.875em; left: 14px; padding: 5px 10px; position: absolute; top: 6px}
		.box acronym				{border-bottom:1px dashed;}
		.box .responsibilty			{margin: 0 0 10px;}
		.box .responsibilty small	{display: block;}
		.box .thumb					{background-color: #f1f1f1; border: 1px solid #4b800b; margin: 0 0 10px; padding: 5px;}
		.box .link					{display: inline-block; font-size: 0.75em; padding: 5px;}
		.box .link:hover			{background-color: #4b800b; color: #fff; text-decoration: none;}
		.box .none-link				{color: #000;}
		.box .none-link:hover		{text-decoration: underline;}
		.box-two					{width: 590px;}
			
			/* TwitterUpdates */
			#twitter-updates img	{display: block; margin: 0 auto;}
			#twitter-updates ul			{margin: 0 0 10px;}
			#twitter-updates ul li		{font-size: 0.875em; list-style-type:none; margin: 0 0 5px;}
			#twitter-updates ul li > a	{font-size: 75%;}
			#twitter-updates ul li span {display: block;}
			
			/* TwitterLink */
			.twitter-link {background: url('../images/twitter_by_DryIcons.png') 0 0 no-repeat; display: block; float: left; font-size:0; height: 24px; line-height: 0; width: 24px;}
			
			/* Testmonial */
			blockquote			{margin: 0 0 15px;}
			blockquote p		{font-size: 0.75em; margin: 0 0 5px;}
			blockquote p.quote	{background: url('../images/quote.png') no-repeat top right; text-indent: 15px; line-height: 1.3em;}
			blockquote p.author	{color: #4b800b;}
			
			/* Form */
			.form				{margin: 0 0 10px;}
			.form input			,
			.form textarea		{background-color: #f1f1f1; border: 1px solid #000; color: #000; display: inline-block; font: 0.875em verdana,arial,tahoma,sans-serif; margin: 0 0 10px; overflow: hidden; padding: 5px; vertical-align: middle;}
			.form input			{width: 230px;}
			.form textarea		{height: 150px; line-height: 1.5em; overflow: auto !important; width: 270px;}
			.form .button		{background-color: #4b800b; border:0; color: #fff; cursor: pointer; width: 100px;}
			.form .button:hover	{background-color: #cc0047;}

		/* Footer */
		.footer				{border-top: 1px solid #4b800b; font-size: 0.75em; height: 25px; margin: 0 0 10px; padding: 5px 0 0;}
		.footer a			{font-weight: bold;}
		.footer .allrights	{float: right;}
		.footer .w3c		{float: left;}/* Print CSS */
html {
	direction: rtl;}
	
body {
	background: #fff none;
	color: #000;
	font: normal 12pt arial;
	text-align: right;}
a {
	color: #000;
	text-decoration: none;}	
	
/* Display NONE */
.logo, .slogen, .last-update, .menu, .link, .footer, .no-print {
	display: none !important;}
	
/* Display BLOCK */
.block {
	clear: both;
	display: block;
	float: none !important;
	margin: 0 10%;
	padding:0;
	width: auto;}
	
.responsibilty {
	border-bottom: 1px solid #000;
	margin: 0 0 10px;
	padding: 0 0 10px;}

.logo  {
	background: url('../images/logo-print.png') no-repeat 0 0;
	display: block;
	float: left;
	height: 81px;
	margin: 0 10%;
	width: 410px;}* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  font-size: 0;
  line-height: 0;
}
a {
  outline: none;
}
.none {
  display: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
body {
  background-color: #fff;
  color: #000;
  font: normal 100% verdana, arial, tahoma, sans-serif;
}
body div#page {
  margin: 20px auto;
  width: 500px;
}
body div#page div#menu,
body div#page div#menu ul {
  position: relative;
}
body div#page div#menu ul {
  list-style-type: none;
  z-index: 2;
}
body div#page div#menu ul li {
  float: left;
  margin-right: 10px;
}
body div#page div#menu ul li a {
  display: inline-block;
  padding: 10px 15px;
}
body div#page div#menu div.cursor {
  background-color: #999;
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}/* Reset */
* {margin: 0; padding: 0; /*border:1px solid red;*/}
html {direction: rtl;}
html, body {height: 100%;}
img {border: 0; font-size: 0; line-height: 0;}

/* clear all mighty */
.clear:after {clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;}
.clear {display: inline-block;} 
html[xmlns] .clear {display: block;}
* html .clear {height: 1%;}

body {background-color: #f9f9f9; color: #000; font: normal 100% verdana,arial,tahoma,sans-serif; margin: 0 auto; text-align: center;}

/* Style */
h1, h2, h3 {font-weight: normal;}
h1 {color: #cc0047; font-size: 2em;}
h2 {font-size: 1.625em; margin: 0 0 15px;}
h3 {color: #4b800b; font-size: 1.125em; margin: 0 0 10px;}
a {color: #4b800b; text-decoration: none;}
a:hover {text-decoration: underline}
p {font-size: 0.875em; line-height: 1.5em; margin: 0 0 10px;}
acronym {cursor: help;}

/* Top */
.top		{background-color: #f1f1f1; border-bottom: 1px solid #000; width: 100%}
.top > div	{height: 30px; margin: 0 auto; width: 900px;}

	/* Logo */
	.logo			{color: #cc0047; float: right; font: 1.25em arial; line-height: 30px;}
	.logo:hover		{text-decoration: underline;}
	.logo strong	{color: #4b800b; font-weight: normal;}

	/* LastUpdate */
	.last-update {border: 0; color: #4b800b; display: block; float: left; font-size: 0.75em; line-height: 30px;}

/* Page */
.page {margin: 0 auto; text-align: right; width: 900px;}
	
	/* Slogen */
	.slogen {padding: 60px 0; text-align: center;}
			
	/* Navigation */
	.navigation					{border-bottom: 1px solid #4b800b; height: 28px; margin: 0 0 10px;}
	.navigation ul li			{display: inline; float: right; font-size: 1em; margin: 0 5px; padding: 0 0 8px;}
	.navigation ul li a			{color: #000; display: inline-block; height: 20px; line-height: 20px;}
	.navigation ul li a:hover	,
	.navigation li.current a	{color: #4b800b; text-decoration: none;}
	.navigation ul li.current	{background: url('../images/menu-arrow.png') no-repeat 50% 100%;}
	.navigation button			{background-color: transparent; border: 0; cursor: pointer; float: left; font-size: 0.75em; margin: 0 3px 0 0; padding: 5px;}
	.navigation button:hover	,
	.navigation button.current	{color: #fff;}
	.navigation button:hover	{background-color: #cc0047;}
	.navigation button.current	{background-color: #4b800b;}
			
	/* Block */
	.block {margin: 0 0 20px; padding: 0 0 30px; position: relative; width: 100%;}
	
		/* aTop */
		.atop		{border-top: 1px solid #4b800b; bottom: 0; display: block; font-size: 0.75em; left: 0; padding: 5px; position: absolute;}
		.atop:hover {background-color: #cc0047; border-color: #cc0047; color: #fff; text-decoration: none;}
	
		/* Box */
		.box						{float: right; min-height: 300px; margin: 0 0 20px 10px; position: relative; width: 290px;}
		.box p						{padding: 0 0 0 20px;}
		.box p span					{color: #a66c2a; display: block; font-size: 0.6785em;}
		.box p span.bad				{color: #948574; font-size: 0.75em; text-decoration: line-through;}
		.box acronym.tag			{background-color: #4b800b; border:0; color: #fff; font-size: 0.875em; left: 14px; padding: 5px 10px; position: absolute; top: 6px}
		.box acronym				{border-bottom:1px dashed;}
		.box .responsibilty			{margin: 0 0 10px;}
		.box .responsibilty small	{display: block;}
		.box .thumb					{background-color: #f1f1f1; border: 1px solid #4b800b; margin: 0 0 10px; padding: 5px;}
		.box .link					{display: inline-block; font-size: 0.75em; padding: 5px;}
		.box .link:hover			{background-color: #4b800b; color: #fff; text-decoration: none;}
		.box .none-link				{color: #000;}
		.box .none-link:hover		{text-decoration: underline;}
		.box-two					{width: 590px;}
			
			/* TwitterUpdates */
			#twitter-updates img	{display: block; margin: 0 auto;}
			#twitter-updates ul			{margin: 0 0 10px;}
			#twitter-updates ul li		{font-size: 0.875em; list-style-type:none; margin: 0 0 5px;}
			#twitter-updates ul li > a	{font-size: 75%;}
			#twitter-updates ul li span {display: block;}
			
			/* TwitterLink */
			.twitter-link {background: url('../images/twitter_by_DryIcons.png') 0 0 no-repeat; display: block; float: left; font-size:0; height: 24px; line-height: 0; width: 24px;}
			
			/* Testmonial */
			blockquote			{margin: 0 0 15px;}
			blockquote p		{font-size: 0.75em; margin: 0 0 5px;}
			blockquote p.quote	{background: url('../images/quote.png') no-repeat top right; text-indent: 15px; line-height: 1.3em;}
			blockquote p.author	{color: #4b800b;}
			
			/* Form */
			.form				{margin: 0 0 10px;}
			.form input			,
			.form textarea		{background-color: #f1f1f1; border: 1px solid #000; color: #000; display: inline-block; font: 0.875em verdana,arial,tahoma,sans-serif; margin: 0 0 10px; overflow: hidden; padding: 5px; vertical-align: middle;}
			.form input			{width: 230px;}
			.form textarea		{height: 150px; line-height: 1.5em; overflow: auto !important; width: 270px;}
			.form .button		{background-color: #4b800b; border:0; color: #fff; cursor: pointer; width: 100px;}
			.form .button:hover	{background-color: #cc0047;}

		/* Footer */
		.footer				{border-top: 1px solid #4b800b; font-size: 0.75em; height: 25px; margin: 0 0 10px; padding: 5px 0 0;}
		.footer a			{font-weight: bold;}
		.footer .allrights	{float: right;}
		.footer .w3c		{float: left;}/* Print CSS */
html {
	direction: rtl;}
	
body {
	background: #fff none;
	color: #000;
	font: normal 12pt arial;
	text-align: right;}
a {
	color: #000;
	text-decoration: none;}	
	
/* Display NONE */
.logo, .slogen, .last-update, .menu, .link, .footer, .no-print {
	display: none !important;}
	
/* Display BLOCK */
.block {
	clear: both;
	display: block;
	float: none !important;
	margin: 0 10%;
	padding:0;
	width: auto;}
	
.responsibilty {
	border-bottom: 1px solid #000;
	margin: 0 0 10px;
	padding: 0 0 10px;}

.logo  {
	background: url('../images/logo-print.png') no-repeat 0 0;
	display: block;
	float: left;
	height: 81px;
	margin: 0 10%;
	width: 410px;}* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  font-size: 0;
  line-height: 0;
}
a {
  outline: none;
}
.none {
  display: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
body {
  background-color: #fff;
  color: #000;
  font: normal 100% verdana, arial, tahoma, sans-serif;
}
body div#page {
  margin: 20px auto;
  width: 500px;
}
body div#page div#menu,
body div#page div#menu ul {
  position: relative;
}
body div#page div#menu ul {
  list-style-type: none;
  z-index: 2;
}
body div#page div#menu ul li {
  float: left;
  margin-right: 10px;
}
body div#page div#menu ul li a {
  display: inline-block;
  padding: 10px 15px;
}
body div#page div#menu div.cursor {
  background-color: #999;
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}/* Reset */
* {margin: 0; padding: 0; /*border:1px solid red;*/}
html {direction: rtl;}
html, body {height: 100%;}
img {border: 0; font-size: 0; line-height: 0;}

/* clear all mighty */
.clear:after {clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;}
.clear {display: inline-block;} 
html[xmlns] .clear {display: block;}
* html .clear {height: 1%;}

body {background-color: #f9f9f9; color: #000; font: normal 100% verdana,arial,tahoma,sans-serif; margin: 0 auto; text-align: center;}

/* Style */
h1, h2, h3 {font-weight: normal;}
h1 {color: #cc0047; font-size: 2em;}
h2 {font-size: 1.625em; margin: 0 0 15px;}
h3 {color: #4b800b; font-size: 1.125em; margin: 0 0 10px;}
a {color: #4b800b; text-decoration: none;}
a:hover {text-decoration: underline}
p {font-size: 0.875em; line-height: 1.5em; margin: 0 0 10px;}
acronym {cursor: help;}

/* Top */
.top		{background-color: #f1f1f1; border-bottom: 1px solid #000; width: 100%}
.top > div	{height: 30px; margin: 0 auto; width: 900px;}

	/* Logo */
	.logo			{color: #cc0047; float: right; font: 1.25em arial; line-height: 30px;}
	.logo:hover		{text-decoration: underline;}
	.logo strong	{color: #4b800b; font-weight: normal;}

	/* LastUpdate */
	.last-update {border: 0; color: #4b800b; display: block; float: left; font-size: 0.75em; line-height: 30px;}

/* Page */
.page {margin: 0 auto; text-align: right; width: 900px;}
	
	/* Slogen */
	.slogen {padding: 60px 0; text-align: center;}
			
	/* Navigation */
	.navigation					{border-bottom: 1px solid #4b800b; height: 28px; margin: 0 0 10px;}
	.navigation ul li			{display: inline; float: right; font-size: 1em; margin: 0 5px; padding: 0 0 8px;}
	.navigation ul li a			{color: #000; display: inline-block; height: 20px; line-height: 20px;}
	.navigation ul li a:hover	,
	.navigation li.current a	{color: #4b800b; text-decoration: none;}
	.navigation ul li.current	{background: url('../images/menu-arrow.png') no-repeat 50% 100%;}
	.navigation button			{background-color: transparent; border: 0; cursor: pointer; float: left; font-size: 0.75em; margin: 0 3px 0 0; padding: 5px;}
	.navigation button:hover	,
	.navigation button.current	{color: #fff;}
	.navigation button:hover	{background-color: #cc0047;}
	.navigation button.current	{background-color: #4b800b;}
			
	/* Block */
	.block {margin: 0 0 20px; padding: 0 0 30px; position: relative; width: 100%;}
	
		/* aTop */
		.atop		{border-top: 1px solid #4b800b; bottom: 0; display: block; font-size: 0.75em; left: 0; padding: 5px; position: absolute;}
		.atop:hover {background-color: #cc0047; border-color: #cc0047; color: #fff; text-decoration: none;}
	
		/* Box */
		.box						{float: right; min-height: 300px; margin: 0 0 20px 10px; position: relative; width: 290px;}
		.box p						{padding: 0 0 0 20px;}
		.box p span					{color: #a66c2a; display: block; font-size: 0.6785em;}
		.box p span.bad				{color: #948574; font-size: 0.75em; text-decoration: line-through;}
		.box acronym.tag			{background-color: #4b800b; border:0; color: #fff; font-size: 0.875em; left: 14px; padding: 5px 10px; position: absolute; top: 6px}
		.box acronym				{border-bottom:1px dashed;}
		.box .responsibilty			{margin: 0 0 10px;}
		.box .responsibilty small	{display: block;}
		.box .thumb					{background-color: #f1f1f1; border: 1px solid #4b800b; margin: 0 0 10px; padding: 5px;}
		.box .link					{display: inline-block; font-size: 0.75em; padding: 5px;}
		.box .link:hover			{background-color: #4b800b; color: #fff; text-decoration: none;}
		.box .none-link				{color: #000;}
		.box .none-link:hover		{text-decoration: underline;}
		.box-two					{width: 590px;}
			
			/* TwitterUpdates */
			#twitter-updates img	{display: block; margin: 0 auto;}
			#twitter-updates ul			{margin: 0 0 10px;}
			#twitter-updates ul li		{font-size: 0.875em; list-style-type:none; margin: 0 0 5px;}
			#twitter-updates ul li > a	{font-size: 75%;}
			#twitter-updates ul li span {display: block;}
			
			/* TwitterLink */
			.twitter-link {background: url('../images/twitter_by_DryIcons.png') 0 0 no-repeat; display: block; float: left; font-size:0; height: 24px; line-height: 0; width: 24px;}
			
			/* Testmonial */
			blockquote			{margin: 0 0 15px;}
			blockquote p		{font-size: 0.75em; margin: 0 0 5px;}
			blockquote p.quote	{background: url('../images/quote.png') no-repeat top right; text-indent: 15px; line-height: 1.3em;}
			blockquote p.author	{color: #4b800b;}
			
			/* Form */
			.form				{margin: 0 0 10px;}
			.form input			,
			.form textarea		{background-color: #f1f1f1; border: 1px solid #000; color: #000; display: inline-block; font: 0.875em verdana,arial,tahoma,sans-serif; margin: 0 0 10px; overflow: hidden; padding: 5px; vertical-align: middle;}
			.form input			{width: 230px;}
			.form textarea		{height: 150px; line-height: 1.5em; overflow: auto !important; width: 270px;}
			.form .button		{background-color: #4b800b; border:0; color: #fff; cursor: pointer; width: 100px;}
			.form .button:hover	{background-color: #cc0047;}

		/* Footer */
		.footer				{border-top: 1px solid #4b800b; font-size: 0.75em; height: 25px; margin: 0 0 10px; padding: 5px 0 0;}
		.footer a			{font-weight: bold;}
		.footer .allrights	{float: right;}
		.footer .w3c		{float: left;}* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  font-size: 0;
  line-height: 0;
}
a {
  outline: none;
}
.none {
  display: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
body {
  background-color: #fff;
  color: #000;
  font: normal 100% verdana, arial, tahoma, sans-serif;
}
body div#page {
  margin: 20px auto;
  width: 500px;
}
body div#page div#menu,
body div#page div#menu ul {
  position: relative;
}
body div#page div#menu ul {
  list-style-type: none;
  z-index: 2;
}
body div#page div#menu ul li {
  float: left;
  margin-right: 10px;
}
body div#page div#menu ul li a {
  display: inline-block;
  padding: 10px 15px;
}
body div#page div#menu div.cursor {
  background-color: #999;
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}/* Reset */
* {margin: 0; padding: 0; /*border:1px solid red;*/}
html {direction: rtl;}
html, body {height: 100%;}
img {border: 0; font-size: 0; line-height: 0;}

/* clear all mighty */
.clear:after {clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;}
.clear {display: inline-block;} 
html[xmlns] .clear {display: block;}
* html .clear {height: 1%;}

body {background-color: #f9f9f9; color: #000; font: normal 100% verdana,arial,tahoma,sans-serif; margin: 0 auto; text-align: center;}

/* Style */
h1, h2, h3 {font-weight: normal;}
h1 {color: #cc0047; font-size: 2em;}
h2 {font-size: 1.625em; margin: 0 0 15px;}
h3 {color: #4b800b; font-size: 1.125em; margin: 0 0 10px;}
a {color: #4b800b; text-decoration: none;}
a:hover {text-decoration: underline}
p {font-size: 0.875em; line-height: 1.5em; margin: 0 0 10px;}
acronym {cursor: help;}

/* Top */
.top		{background-color: #f1f1f1; border-bottom: 1px solid #000; width: 100%}
.top > div	{height: 30px; margin: 0 auto; width: 900px;}

	/* Logo */
	.logo			{color: #cc0047; float: right; font: 1.25em arial; line-height: 30px;}
	.logo:hover		{text-decoration: underline;}
	.logo strong	{color: #4b800b; font-weight: normal;}

	/* LastUpdate */
	.last-update {border: 0; color: #4b800b; display: block; float: left; font-size: 0.75em; line-height: 30px;}

/* Page */
.page {margin: 0 auto; text-align: right; width: 900px;}
	
	/* Slogen */
	.slogen {padding: 60px 0; text-align: center;}
			
	/* Navigation */
	.navigation					{border-bottom: 1px solid #4b800b; height: 28px; margin: 0 0 10px;}
	.navigation ul li			{display: inline; float: right; font-size: 1em; margin: 0 5px; padding: 0 0 8px;}
	.navigation ul li a			{color: #000; display: inline-block; height: 20px; line-height: 20px;}
	.navigation ul li a:hover	,
	.navigation li.current a	{color: #4b800b; text-decoration: none;}
	.navigation ul li.current	{background: url('../images/menu-arrow.png') no-repeat 50% 100%;}
	.navigation button			{background-color: transparent; border: 0; cursor: pointer; float: left; font-size: 0.75em; margin: 0 3px 0 0; padding: 5px;}
	.navigation button:hover	,
	.navigation button.current	{color: #fff;}
	.navigation button:hover	{background-color: #cc0047;}
	.navigation button.current	{background-color: #4b800b;}
			
	/* Block */
	.block {margin: 0 0 20px; padding: 0 0 30px; position: relative; width: 100%;}
	
		/* aTop */
		.atop		{border-top: 1px solid #4b800b; bottom: 0; display: block; font-size: 0.75em; left: 0; padding: 5px; position: absolute;}
		.atop:hover {background-color: #cc0047; border-color: #cc0047; color: #fff; text-decoration: none;}
	
		/* Box */
		.box						{float: right; min-height: 300px; margin: 0 0 20px 10px; position: relative; width: 290px;}
		.box p						{padding: 0 0 0 20px;}
		.box p span					{color: #a66c2a; display: block; font-size: 0.6785em;}
		.box p span.bad				{color: #948574; font-size: 0.75em; text-decoration: line-through;}
		.box acronym.tag			{background-color: #4b800b; border:0; color: #fff; font-size: 0.875em; left: 14px; padding: 5px 10px; position: absolute; top: 6px}
		.box acronym				{border-bottom:1px dashed;}
		.box .responsibilty			{margin: 0 0 10px;}
		.box .responsibilty small	{display: block;}
		.box .thumb					{background-color: #f1f1f1; border: 1px solid #4b800b; margin: 0 0 10px; padding: 5px;}
		.box .link					{display: inline-block; font-size: 0.75em; padding: 5px;}
		.box .link:hover			{background-color: #4b800b; color: #fff; text-decoration: none;}
		.box .none-link				{color: #000;}
		.box .none-link:hover		{text-decoration: underline;}
		.box-two					{width: 590px;}
			
			/* TwitterUpdates */
			#twitter-updates img	{display: block; margin: 0 auto;}
			#twitter-updates ul			{margin: 0 0 10px;}
			#twitter-updates ul li		{font-size: 0.875em; list-style-type:none; margin: 0 0 5px;}
			#twitter-updates ul li > a	{font-size: 75%;}
			#twitter-updates ul li span {display: block;}
			
			/* TwitterLink */
			.twitter-link {background: url('../images/twitter_by_DryIcons.png') 0 0 no-repeat; display: block; float: left; font-size:0; height: 24px; line-height: 0; width: 24px;}
			
			/* Testmonial */
			blockquote			{margin: 0 0 15px;}
			blockquote p		{font-size: 0.75em; margin: 0 0 5px;}
			blockquote p.quote	{background: url('../images/quote.png') no-repeat top right; text-indent: 15px; line-height: 1.3em;}
			blockquote p.author	{color: #4b800b;}
			
			/* Form */
			.form				{margin: 0 0 10px;}
			.form input			,
			.form textarea		{background-color: #f1f1f1; border: 1px solid #000; color: #000; display: inline-block; font: 0.875em verdana,arial,tahoma,sans-serif; margin: 0 0 10px; overflow: hidden; padding: 5px; vertical-align: middle;}
			.form input			{width: 230px;}
			.form textarea		{height: 150px; line-height: 1.5em; overflow: auto !important; width: 270px;}
			.form .button		{background-color: #4b800b; border:0; color: #fff; cursor: pointer; width: 100px;}
			.form .button:hover	{background-color: #cc0047;}

		/* Footer */
		.footer				{border-top: 1px solid #4b800b; font-size: 0.75em; height: 25px; margin: 0 0 10px; padding: 5px 0 0;}
		.footer a			{font-weight: bold;}
		.footer .allrights	{float: right;}
		.footer .w3c		{float: left;}* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  font-size: 0;
  line-height: 0;
}
a {
  outline: none;
}
.none {
  display: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
body {
  background-color: #fff;
  color: #000;
  font: normal 100% verdana, arial, tahoma, sans-serif;
}
body div#page {
  margin: 20px auto;
  width: 500px;
}
body div#page div#menu,
body div#page div#menu ul {
  position: relative;
}
body div#page div#menu ul {
  list-style-type: none;
  z-index: 2;
}
body div#page div#menu ul li {
  float: left;
  margin-right: 10px;
}
body div#page div#menu ul li a {
  display: inline-block;
  padding: 10px 15px;
}
body div#page div#menu div.cursor {
  background-color: #999;
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}/* Reset */
* {margin: 0; padding: 0; /*border:1px solid red;*/}
html {direction: rtl;}
html, body {height: 100%;}
img {border: 0; font-size: 0; line-height: 0;}

/* clear all mighty */
.clear:after {clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;}
.clear {display: inline-block;} 
html[xmlns] .clear {display: block;}
* html .clear {height: 1%;}

body {background-color: #f9f9f9; color: #000; font: normal 100% verdana,arial,tahoma,sans-serif; margin: 0 auto; text-align: center;}

/* Style */
h1, h2, h3 {font-weight: normal;}
h1 {color: #cc0047; font-size: 2em;}
h2 {font-size: 1.625em; margin: 0 0 15px;}
h3 {color: #4b800b; font-size: 1.125em; margin: 0 0 10px;}
a {color: #4b800b; text-decoration: none;}
a:hover {text-decoration: underline}
p {font-size: 0.875em; line-height: 1.5em; margin: 0 0 10px;}
acronym {cursor: help;}

/* Top */
.top		{background-color: #f1f1f1; border-bottom: 1px solid #000; width: 100%}
.top > div	{height: 30px; margin: 0 auto; width: 900px;}

	/* Logo */
	.logo			{color: #cc0047; float: right; font: 1.25em arial; line-height: 30px;}
	.logo:hover		{text-decoration: underline;}
	.logo strong	{color: #4b800b; font-weight: normal;}

	/* LastUpdate */
	.last-update {border: 0; color: #4b800b; display: block; float: left; font-size: 0.75em; line-height: 30px;}

/* Page */
.page {margin: 0 auto; text-align: right; width: 900px;}
	
	/* Slogen */
	.slogen {padding: 60px 0; text-align: center;}
			
	/* Navigation */
	.navigation					{border-bottom: 1px solid #4b800b; height: 28px; margin: 0 0 10px;}
	.navigation ul li			{display: inline; float: right; font-size: 1em; margin: 0 5px; padding: 0 0 8px;}
	.navigation ul li a			{color: #000; display: inline-block; height: 20px; line-height: 20px;}
	.navigation ul li a:hover	,
	.navigation li.current a	{color: #4b800b; text-decoration: none;}
	.navigation ul li.current	{background: url('../images/menu-arrow.png') no-repeat 50% 100%;}
	.navigation button			{background-color: transparent; border: 0; cursor: pointer; float: left; font-size: 0.75em; margin: 0 3px 0 0; padding: 5px;}
	.navigation button:hover	,
	.navigation button.current	{color: #fff;}
	.navigation button:hover	{background-color: #cc0047;}
	.navigation button.current	{background-color: #4b800b;}
			
	/* Block */
	.block {margin: 0 0 20px; padding: 0 0 30px; position: relative; width: 100%;}
	
		/* aTop */
		.atop		{border-top: 1px solid #4b800b; bottom: 0; display: block; font-size: 0.75em; left: 0; padding: 5px; position: absolute;}
		.atop:hover {background-color: #cc0047; border-color: #cc0047; color: #fff; text-decoration: none;}
	
		/* Box */
		.box						{float: right; min-height: 300px; margin: 0 0 20px 10px; position: relative; width: 290px;}
		.box p						{padding: 0 0 0 20px;}
		.box p span					{color: #a66c2a; display: block; font-size: 0.6785em;}
		.box p span.bad				{color: #948574; font-size: 0.75em; text-decoration: line-through;}
		.box acronym.tag			{background-color: #4b800b; border:0; color: #fff; font-size: 0.875em; left: 14px; padding: 5px 10px; position: absolute; top: 6px}
		.box acronym				{border-bottom:1px dashed;}
		.box .responsibilty			{margin: 0 0 10px;}
		.box .responsibilty small	{display: block;}
		.box .thumb					{background-color: #f1f1f1; border: 1px solid #4b800b; margin: 0 0 10px; padding: 5px;}
		.box .link					{display: inline-block; font-size: 0.75em; padding: 5px;}
		.box .link:hover			{background-color: #4b800b; color: #fff; text-decoration: none;}
		.box .none-link				{color: #000;}
		.box .none-link:hover		{text-decoration: underline;}
		.box-two					{width: 590px;}
			
			/* TwitterUpdates */
			#twitter-updates img	{display: block; margin: 0 auto;}
			#twitter-updates ul			{margin: 0 0 10px;}
			#twitter-updates ul li		{font-size: 0.875em; list-style-type:none; margin: 0 0 5px;}
			#twitter-updates ul li > a	{font-size: 75%;}
			#twitter-updates ul li span {display: block;}
			
			/* TwitterLink */
			.twitter-link {background: url('../images/twitter_by_DryIcons.png') 0 0 no-repeat; display: block; float: left; font-size:0; height: 24px; line-height: 0; width: 24px;}
			
			/* Testmonial */
			blockquote			{margin: 0 0 15px;}
			blockquote p		{font-size: 0.75em; margin: 0 0 5px;}
			blockquote p.quote	{background: url('../images/quote.png') no-repeat top right; text-indent: 15px; line-height: 1.3em;}
			blockquote p.author	{color: #4b800b;}
			
			/* Form */
			.form				{margin: 0 0 10px;}
			.form input			,
			.form textarea		{background-color: #f1f1f1; border: 1px solid #000; color: #000; display: inline-block; font: 0.875em verdana,arial,tahoma,sans-serif; margin: 0 0 10px; overflow: hidden; padding: 5px; vertical-align: middle;}
			.form input			{width: 230px;}
			.form textarea		{height: 150px; line-height: 1.5em; overflow: auto !important; width: 270px;}
			.form .button		{background-color: #4b800b; border:0; color: #fff; cursor: pointer; width: 100px;}
			.form .button:hover	{background-color: #cc0047;}

		/* Footer */
		.footer				{border-top: 1px solid #4b800b; font-size: 0.75em; height: 25px; margin: 0 0 10px; padding: 5px 0 0;}
		.footer a			{font-weight: bold;}
		.footer .allrights	{float: right;}
		.footer .w3c		{float: left;}* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  font-size: 0;
  line-height: 0;
}
a {
  outline: none;
}
.none {
  display: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
body {
  background-color: #fff;
  color: #000;
  font: normal 100% verdana, arial, tahoma, sans-serif;
}
body div#page {
  margin: 20px auto;
  width: 500px;
}
body div#page div#menu,
body div#page div#menu ul {
  position: relative;
}
body div#page div#menu ul {
  list-style-type: none;
  z-index: 2;
}
body div#page div#menu ul li {
  float: left;
  margin-right: 10px;
}
body div#page div#menu ul li a {
  display: inline-block;
  padding: 10px 15px;
}
body div#page div#menu div.cursor {
  background-color: #999;
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}/* Reset */
* {margin: 0; padding: 0; /*border:1px solid red;*/}
html {direction: rtl;}
html, body {height: 100%;}
img {border: 0; font-size: 0; line-height: 0;}

/* clear all mighty */
.clear:after {clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;}
.clear {display: inline-block;} 
html[xmlns] .clear {display: block;}
* html .clear {height: 1%;}

body {background-color: #f9f9f9; color: #000; font: normal 100% verdana,arial,tahoma,sans-serif; margin: 0 auto; text-align: center;}

/* Style */
h1, h2, h3 {font-weight: normal;}
h1 {color: #cc0047; font-size: 2em;}
h2 {font-size: 1.625em; margin: 0 0 15px;}
h3 {color: #4b800b; font-size: 1.125em; margin: 0 0 10px;}
a {color: #4b800b; text-decoration: none;}
a:hover {text-decoration: underline}
p {font-size: 0.875em; line-height: 1.5em; margin: 0 0 10px;}
acronym {cursor: help;}

/* Top */
.top		{background-color: #f1f1f1; border-bottom: 1px solid #000; width: 100%}
.top > div	{height: 30px; margin: 0 auto; width: 900px;}

	/* Logo */
	.logo			{color: #cc0047; float: right; font: 1.25em arial; line-height: 30px;}
	.logo:hover		{text-decoration: underline;}
	.logo strong	{color: #4b800b; font-weight: normal;}

	/* LastUpdate */
	.last-update {border: 0; color: #4b800b; display: block; float: left; font-size: 0.75em; line-height: 30px;}

/* Page */
.page {margin: 0 auto; text-align: right; width: 900px;}
	
	/* Slogen */
	.slogen {padding: 60px 0; text-align: center;}
			
	/* Navigation */
	.navigation					{border-bottom: 1px solid #4b800b; height: 28px; margin: 0 0 10px;}
	.navigation ul li			{display: inline; float: right; font-size: 1em; margin: 0 5px; padding: 0 0 8px;}
	.navigation ul li a			{color: #000; display: inline-block; height: 20px; line-height: 20px;}
	.navigation ul li a:hover	,
	.navigation li.current a	{color: #4b800b; text-decoration: none;}
	.navigation ul li.current	{background: url('../images/menu-arrow.png') no-repeat 50% 100%;}
	.navigation button			{background-color: transparent; border: 0; cursor: pointer; float: left; font-size: 0.75em; margin: 0 3px 0 0; padding: 5px;}
	.navigation button:hover	,
	.navigation button.current	{color: #fff;}
	.navigation button:hover	{background-color: #cc0047;}
	.navigation button.current	{background-color: #4b800b;}
			
	/* Block */
	.block {margin: 0 0 20px; padding: 0 0 30px; position: relative; width: 100%;}
	
		/* aTop */
		.atop		{border-top: 1px solid #4b800b; bottom: 0; display: block; font-size: 0.75em; left: 0; padding: 5px; position: absolute;}
		.atop:hover {background-color: #cc0047; border-color: #cc0047; color: #fff; text-decoration: none;}
	
		/* Box */
		.box						{float: right; min-height: 300px; margin: 0 0 20px 10px; position: relative; width: 290px;}
		.box p						{padding: 0 0 0 20px;}
		.box p span					{color: #a66c2a; display: block; font-size: 0.6785em;}
		.box p span.bad				{color: #948574; font-size: 0.75em; text-decoration: line-through;}
		.box acronym.tag			{background-color: #4b800b; border:0; color: #fff; font-size: 0.875em; left: 14px; padding: 5px 10px; position: absolute; top: 6px}
		.box acronym				{border-bottom:1px dashed;}
		.box .responsibilty			{margin: 0 0 10px;}
		.box .responsibilty small	{display: block;}
		.box .thumb					{background-color: #f1f1f1; border: 1px solid #4b800b; margin: 0 0 10px; padding: 5px;}
		.box .link					{display: inline-block; font-size: 0.75em; padding: 5px;}
		.box .link:hover			{background-color: #4b800b; color: #fff; text-decoration: none;}
		.box .none-link				{color: #000;}
		.box .none-link:hover		{text-decoration: underline;}
		.box-two					{width: 590px;}
			
			/* TwitterUpdates */
			#twitter-updates img	{display: block; margin: 0 auto;}
			#twitter-updates ul			{margin: 0 0 10px;}
			#twitter-updates ul li		{font-size: 0.875em; list-style-type:none; margin: 0 0 5px;}
			#twitter-updates ul li > a	{font-size: 75%;}
			#twitter-updates ul li span {display: block;}
			
			/* TwitterLink */
			.twitter-link {background: url('../images/twitter_by_DryIcons.png') 0 0 no-repeat; display: block; float: left; font-size:0; height: 24px; line-height: 0; width: 24px;}
			
			/* Testmonial */
			blockquote			{margin: 0 0 15px;}
			blockquote p		{font-size: 0.75em; margin: 0 0 5px;}
			blockquote p.quote	{background: url('../images/quote.png') no-repeat top right; text-indent: 15px; line-height: 1.3em;}
			blockquote p.author	{color: #4b800b;}
			
			/* Form */
			.form				{margin: 0 0 10px;}
			.form input			,
			.form textarea		{background-color: #f1f1f1; border: 1px solid #000; color: #000; display: inline-block; font: 0.875em verdana,arial,tahoma,sans-serif; margin: 0 0 10px; overflow: hidden; padding: 5px; vertical-align: middle;}
			.form input			{width: 230px;}
			.form textarea		{height: 150px; line-height: 1.5em; overflow: auto !important; width: 270px;}
			.form .button		{background-color: #4b800b; border:0; color: #fff; cursor: pointer; width: 100px;}
			.form .button:hover	{background-color: #cc0047;}

		/* Footer */
		.footer				{border-top: 1px solid #4b800b; font-size: 0.75em; height: 25px; margin: 0 0 10px; padding: 5px 0 0;}
		.footer a			{font-weight: bold;}
		.footer .allrights	{float: right;}
		.footer .w3c		{float: left;}