html,
body {
  height: 100%;
}
img {
  display: inline-block;
  max-width: 100%;
  font-size: 0;
  line-height: 0;
  border: 0;
  outline: none;
}
body {
  background-color: #f0f0f0;
  color: #000;
  direction: rtl;
  margin: 0 auto;
  text-align: right;
}
body section#page {
  margin: 30px auto;
  width: 720px;
}
body section#page header {
  margin-bottom: 30px;
}
body section#page header h1 {
  float: right;
}
body section#page header h1 strong {
  font-size: 0.76923076923077em;
  font-weight: normal;
}
body section#page header div.btn-group {
  float: left;
  margin-top: 14px;
}
body section#page article h2 {
  margin-bottom: 10px;
}
body section#page article ul {
  margin-right: 30px;
}
